<h1>Skicka SMS</h1>

<%= partial 'admin/sms_status', locals: { sms: sms } unless sms.nil? ||  sms.empty? %>

<div class="panel panel-default">
  <div class="panel-body">
  <% form_tag(url_for(:admin, :sms)) { %>
    <div class="form-group <%= validation.has_key?("message") ? 'has-error' : ''%>">
      <label for="message">Meddelande</label>
      <%= text_area_tag(:message, class: 'form-control') %>
      <% if validation.has_key?("message") %>
      <span id="helpBlock2" class="help-block"><%= validation["message"] %></span>
      <% end %>
    </div>
    <div class="form-group <%= validation.has_key?("recipients") ? 'has-error' : ''%>">
      <label for="to">Mottagare</label>
      <select multiple class="form-control" name="recipients[]">
        <% users.pickups.each do |pickup|  %>
          <option value="pickup,<%= pickup %>">Plats: <%= pickup %></option>
        <% end %>
        <% settings.pickup_weekday.values.uniq.each do |day| %>
          <option value="weekday,<%=day%>">Dag: <%= settings.weekday[day] %></option>
        <% end %>
      </select>
      <% if validation.has_key?("recipients") %>
      <span id="helpBlock2" class="help-block"><%= validation["recipients"] %></span>
      <% end %>
    </div>

    <div class="checkbox <%= validation.has_key?("sure") ?  'has-error' : '' %>">
      <label>
        <%= check_box_tag(:sure) %>
        <% if validation.has_key?("sure") %>
          DU MÅSTE GODKÄNNA FÖR ATT SKICKA
        <% else %>
          Vill du skicka?
      <% end %>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Skicka</button>
  <% } %>
  </div>
</div>
