<h1>Leverans</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Din andel</h3>
  </div>
  <div class="panel-body">
    <b>Andelsstorlek:</b> <%= user.share %><br>
    <b>Utlämningsplats:</b> <%= user.pickup %><br>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Leveranser</h3>
  </div>
  <div class="panel-body">
<p>
Du avbokar en leverans genom att <mark>bocka ur rutan under veckonumret</mark>
</p>

<p>
<ul>
  <li>Du som har valt varianten med semesteruppehåll ska avboka 4 valfria leveranser.</li>
  <li>Avbokningar görs senast måndag samma vecka som leveransen sker.</li>
  <li>Avbokningar som du lagt in tidigare går att ändra t.om. måndagen innan.</li>
</ul>

Svinn vill vi undvika, så vill du avboka fler än 4 lådor, eller vill du som inte har valt semesteruppehåll avboka lådor går det förstås bra. Månadskostnaden ändras dock inte, utan du får alltså betala för avbokade lådor. Det går också bra att ge bort sin låda och därmed be sin vän, granne eller liknande att hämta den.
</p>

<% form_tag('schedule/save', class: 'form-inline') do %>
<table class="table">
  <% index = 0 %>
  <% weeks_schedule.to_a.each_slice(20) do |ws| %>
    <th>
      <td><b>Vecka</b></td>
      <% ws.each do |week, value| %>
        <td style="text-align:center;" class="week<%= !week_is_disabled(week) ? '' : ' disabled' %><%= week.to_i == DateTime.now.cweek ? ' current' : '' %>"><span ><%= week %></span></td>
      <% end %>
    </th>
    <tr>
      <td></td>
      <td></td>
      <% ws.each do |week, value| %>
        <td style="text-align:center;" class="week<%= !week_is_disabled(week) ? '' : ' disabled' %><%= week.to_i == DateTime.now.cweek ? ' current' : '' %>">
          <% if week_is_disabled(week) %>
          <input type="hidden" name="schedule[<%= index %>]" value="<%=week%>">
          <% end %>
          <%= check_box_tag "schedule[#{index}]", checked: value, disabled: week_is_disabled(week), value: value %>
          <% index += 1 %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <button type="submit" class="btn btn-primary pull-right">Spara ändringar</button>
<% end %>
  </div>
</div>
